{{- if and .Values.definitions.enabled (not .Values.definitions.existingConfigMap) (not .Values.definitions.existingSecret) }}
{{- $def := dict }}
{{- $users := .Values.definitions.users | default list }}
{{- if .Values.auth.enabled }}
  {{- $authUserNames := list }}
  {{- range $users }}{{- $authUserNames = append $authUserNames .name }}{{- end }}
  {{- if not (has .Values.auth.username $authUserNames) }}
    {{- $authUser := dict "name" .Values.auth.username "password" "" "tags" "administrator" "limits" (dict) }}
    {{- $users = prepend $users $authUser }}
  {{- end }}
{{- end }}
{{- if $users }}{{- $_ := set $def "users" $users }}{{- end }}
{{- if .Values.definitions.vhosts -}}{{- $_ := set $def "vhosts" .Values.definitions.vhosts }}{{- end }}
{{- if .Values.definitions.permissions -}}{{- $_ := set $def "permissions" .Values.definitions.permissions }}{{- end }}
{{- if .Values.definitions.topic_permissions -}}{{- $_ := set $def "topic_permissions" .Values.definitions.topic_permissions }}{{- end }}
{{- if .Values.definitions.parameters -}}{{- $_ := set $def "parameters" .Values.definitions.parameters }}{{- end }}
{{- if .Values.definitions.global_parameters -}}{{- $_ := set $def "global_parameters" .Values.definitions.global_parameters }}{{- end }}
{{- if .Values.definitions.policies -}}{{- $_ := set $def "policies" .Values.definitions.policies }}{{- end }}
{{- if .Values.definitions.queues -}}{{- $_ := set $def "queues" .Values.definitions.queues }}{{- end }}
{{- if .Values.definitions.exchanges -}}{{- $_ := set $def "exchanges" .Values.definitions.exchanges }}{{- end }}
{{- if .Values.definitions.bindings -}}{{- $_ := set $def "bindings" .Values.definitions.bindings }}{{- end }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rabbitmq.fullname" . }}-definitions
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "rabbitmq.labels" . | nindent 4 }}
  {{- with (include "rabbitmq.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
data:
  defs.json: |-
    {{- $def | toPrettyJson | nindent 4 }}
{{- end }}
